<div class="newsletter-box clearfix on-focus blog-signup">
	<p>If you like the site and its content, please subscribe by email or <a href="/blog.rss" target="_blank">RSS <span><i class="fa fa-rss"></i></span></a> to have new articles delivered to you as soon as they are published. Don't worry, we won't send you spam, and you can unsubscribe at any time.</p>
	<form id="form-email-signup" action="https://nathanbroslawsky.us4.list-manage.com/subscribe/post-json?c=?" method="GET">
		{{!-- <input type="hidden" name="c" value="?"> --}}
		<input type="hidden" name="u" value="8d73b87c7a7f60671fa0a9f4a">
	    <input type="hidden" name="id" value="ea655a77fa">
		<input type="text" name="MERGE0" class="form-control" placeholder="Enter your email here..." autocapitalize="off" autocomplete="off" />
		<div class="progress-button">
			<p>
				<button class="btn btn-grey btn-outline"><span><i class="fa fa-paper-plane"></i></span></button>
				<svg class="progress-circle" width="70" height="70">
					<path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z" style="stroke-dasharray: 204.244; stroke-dashoffset: 204.244;"></path>
				</svg>
				<svg class="checkmark" width="70" height="70">
					<path d="m31.5,46.5l15.3,-23.2" style="stroke-dasharray: 27.7908; stroke-dashoffset: 27.7908;"></path><path d="m31.5,46.5l-8.5,-7.1" style="stroke-dasharray: 11.0752; stroke-dashoffset: 11.0752;"></path>
				</svg>
				<svg class="cross" width="70" height="70">
					<path d="m35,35l-9.3,-9.3" style="stroke-dasharray: 13.1522; stroke-dashoffset: 13.1522;"></path><path d="m35,35l9.3,9.3" style="stroke-dasharray: 13.1522; stroke-dashoffset: 13.1522;"></path><path d="m35,35l-9.3,9.3" style="stroke-dasharray: 13.1522; stroke-dashoffset: 13.1522;"></path><path d="m35,35l9.3,-9.3" style="stroke-dasharray: 13.1522; stroke-dashoffset: 13.1522;"></path>
				</svg>
			</p>
		</div>
		<p class="response-text"</p>
	</form>
</div>