<div class="container">

	<div class="head-about">
		<h1 class="about-h1">Nathan Broslawsky</h1>
		<p class="lead about-lead">{&nbsp;Engineering Leader, Polymath, Optimist&nbsp;}</p>
	</div>

</div>

<div class="post-fluid">
	<div class="container-fluid">
		<div class="container">
			<div class="row laread-about">

				<div class="about-picture">
					<img src="/files/img/nbroslawsky.jpg" alt="" />
				</div>

				<p class="basic-info">SVP of Product &amp; Engineering, <a href="https://www.achieve.com" target="_blank">Achieve</a> <span><i class="fa fa-map-marker"></i> San Jose, CA</span></p>

				<p class="left">I have been building software and leading engineering teams for over a decade. Even though I do routinely find myself back in the code, I believe I have found my calling coaching and mentoring new engineering leaders. In addition to getting an extraordinary amount of inspiration and motivation from the people surrounding me, some of my best professional and creative moments can be attributed to long, solitary motorcycle rides and hikes.<br /><br />I truly believe that "None of us is smarter than all of us", and I consistently try to seek out people who are smarter than me; those who can teach, push, and challenge me into being a better version of myself. Because of this, I have had the privilege of working with some truly amazing teams who have helped set a standard of excellence I try to bring to every new organization.</p>

			</div>
		</div>
	</div>
</div>
