doctype 5
html(lang="en")
	head
		title Believers and Achievers
		link(rel='stylesheet', href='/stylesheets/core.css')
	body
		div.wrapper.shadow
			div.header
				include header
			ul.main-nav
				li
					a(href="/login/") Login
				li
					a(href="/forgot-password/") Forgot Password?

			div.content.clearfix
				div.message The email or validation you have provided is incorrect. Are you sure that you got the whole link from the email?
