doctype 5
html(lang="en")
	head
		title Believers and Achievers
		link(rel='stylesheet', href='/stylesheets/core.css')
	body
		div.wrapper.shadow
			div.header
				include header
			ul.main-nav
				li
					a(href="/login/") Login
				li
					a(href="/forgot-password/") Forgot Password?

			div.content.clearfix
				div.message Please check your email for the link to reset your password
