doctype 5
html(lang="en")
	head
		title Believers and Achievers
		link(rel='stylesheet', href='/stylesheets/core.css')
	body
		div.wrapper.shadow
			div.header
				include header
			ul.main-nav
				li
					a(href="/login/") Login
				li
					a(href="/forgot-password/") Forgot Password?

			div.content.clearfix
				form.login(action="/send-password/", method="post")
					label
						div.label Email:
						input(type="text", name="email")

					input.submit(type="submit",value="Send Password", name="authenticate")
