<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Nathan Broslawsky | nathanbroslawsky.com</title>
		<meta property="og:title" content="Nathan Broslawsky" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.nathanbroslawsky.com" />
		<meta property="og:image" content="https://www.nathanbroslawsky.com/files/2019Aspen-PANO-rect.jpg" />

		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/files/styles/main.css" />
	</head>
	<body>
		<div class="cover">
			<div class="headings">
				<h1>Nathan Broslawsky</h1>
				<h2>VP of Engineering, SmugMug</h2>
			</div>
		</div>
		<div class="content">
			<div class="social">
				<a class="badge linkedin" href="https://www.linkedin.com/in/broslawsky/" target="_blank">LinkedIn</a>
				<a class="badge twitter" href="https://twitter.com/nbroslawsky" target="_blank">Twitter</a>
				<a class="badge github" href="https://github.com/nbroslawsky" target="_blank">GitHub</a>
				<a class="badge medium" href="https://medium.com/@nbroslawsky" target="_blank">Medium</a>
			</div>
		</div>
</html>