html
	head
		title Nathan Broslawsky | nathanbroslawsky.com
	body
		h1 Nathan Broslawsky
		h2 VP of Engineering, SmugMug
		ul
			li
				a(href="https://www.linkedin.com/in/broslawsky/", target="_blank") LinkedIn
			li
				a(href="https://twitter.com/nbroslawsky", target="_blank") Twitter
			li
				a(href="https://github.com/nbroslawsky", target="_blank") GitHub
		p(data-protocol=protocol)
			em Yes, I know there is no styling on this. But you know what they say... if you're not embarrased by your MVP, you're doing it wrong.