extends base

block content
	div.column.left
		div.div-resume-section
			div.div-resume-section
				div.margin
					h3 #{page.title}
					div.page-content.resume-item !{page.html}
	div.column.right
		include blog-posts