body {
	font-family:Helvetica, sans-serif;
	font-size:12px;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

a {
	color:#0000cc;
	text-decoration:none;
}

.body {
	max-width:1000px;
}

.loader {
	background:transparent url(../images/loader.gif) no-repeat center center;
}

.hasLayout, .haslayout { zoom:1; }
.hasLayout:after, .haslayout:after{
       content:".";
       display:block;
       height:0;
       clear:both;
       visibility:hidden;
}

.hidden { display:none; }

#header {
	margin-left:48px;
	margin-top:10px;
}

#header h1 {
	font-size:36px;
	font-variant:small-caps;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-weight:normal;
}

#header h1 a {
	color:#000066;
	outline:none;
}

#header blockquote {
	margin: 0 20px 0 0;
	padding:0 0 0 0;
	color:#666666;
	font-size:11px;
	line-height:12px;
	float:right;
}

#header address {
	margin: 0 20px 0 35px;
	padding:0 0 0 0;
	color:#666666;
	font-size:11px;
	line-height:12px;
	float:right;
	font-style:normal;
}

#header address ul {
	list-style-type:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
	border-top:2px solid #666666;
}

#header address ul li {
	padding:4px 0px 4px 0px;
	border-bottom:1px dashed #666666;
	position:relative;
}

#header address ul li img {
	position:absolute;
	left: -33px;
	top:1px;
	border:none;
}

#header address ul li .label,
#header address ul li a {
	display:block;
}
#header address ul li a { font-weight: bold;}


#header blockquote cite {
	display:block;
	text-align:right;
}

.trim {
	height:28px;
	background:url(../images/trim.png) repeat-x 0 0;
	margin-bottom:5px;
}

#resume {
	margin-left:20px;
	margin-right:20px;
}

#resume ul {
	list-style-type:none;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

#resume ul.resume-item-description,
#resume ul.resume-item-description ul {
	background:transparent url(../images/px.png) repeat-y left top;
}
#resume ul.resume-item-description li {
	margin:2px 0 2px 0;
	padding:0 0 0 10px;
	background:transparent url(../images/px.png) no-repeat left 5px;
	background-size:5px 1px;
}

#resume ul.resume-item-description ul.relevant-courses {
	margin-left:10px;
	background:none;
}
#resume ul.resume-item-description ul.relevant-courses li {
	margin:0 3px 0 0;
	padding:0 3px 0 0;
	border-right:1px solid #AAAAAA;
	display:inline-block;
	background:none;
}
#resume ul.resume-item-description ul.relevant-courses li:last-child { border-right:none;}

#resume .margin {
	margin-left:30px;
	margin-right:30px;
}

#resume div.column {
	width:50%;
	padding:0 0 0 0;
	float:left;
}

#resume div.column.right { width: 40%; }
#resume div.column.left { width: 60%; }

#resume div.column.left .page-content {
	padding-right:20px;
}

#resume div.column div.div-resume-section ul.tag-cloud {

}

#resume div.column div.div-resume-section ul.tag-cloud li {
	display:inline-block;
	margin-right:5px;
}

#resume div.column div.div-resume-section h3 {
	font-weight:normal;
	font-size:16px;
	text-transform:uppercase;
	border-bottom:1px solid #333333;
	margin:15px 0 15px 0;
	padding:0 0 0 0;
}

#resume div.column div.div-resume-section h4 {
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:13px;
}

#resume div.column div.div-resume-section .description {
	margin-bottom:25px;
	font-size:11px;
}


#resume div.column div.div-resume-section .featured h4 { font-size:15px; margin-bottom:4px; }
#resume div.column div.div-resume-section .featured .description { font-size:13px; }

#resume div.column div.div-resume-section .description .employment-summary { margin-bottom:5px;}

#resume div.column div.div-resume-section .description .employment-summary .duration { text-align:left; display:block; float:left; }
#resume div.column div.div-resume-section .description .employment-summary .location { text-align:right; display:block; float:right; }
#resume div.column div.div-resume-section .description .employment-summary .title { font-weight:bold; text-align:center; display:block; }


#resume div.column div.div-resume-section .resume-item {
	position:relative;
	left: -10px;
	top: -5px;
	padding-left: 10px;
	border-left:1px solid #333333;
}

#footer { clear: both; text-align:center; }
#footer ul {
	margin: 0 0 0 0;
	padding:0 0 0 0;
}
#footer ul li {
	display: inline;
	border-right:1px solid #333333;
	margin-right:5px;
	padding-right:5px;
}
#footer ul li:last-child { border-right:none;}


#resume div.column div.div-resume-section.blog-posts a.title { display:block; }
#resume div.column div.div-resume-section.blog-posts div.timestamp {
	color:#666;
	margin-left:10px;
	margin-bottom:3px;
}

#resume div.column div.div-resume-section.blog-posts div.more { text-align:right; }

#resume div.column.left div.resume-item {
	overflow-x:auto;
}

#resume div.column.left div.resume-item img {
	margin: 3px 3px;
	border:1px inset #666;
}